

.header-main-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header-nav-list{
  display: flex;
  gap: 24px;
}

.header-menu-link {
display: block;
padding-top: 28px;
padding-bottom: 36px;
font-family: 'Montserrat';
font-weight: 500;
font-size: 14px;
line-height: 1.14px;
letter-spacing: -0.02em;
}

.header-logo {
position: relative;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 1.11;
letter-spacing: -0.03em;
color: #111111;
margin-right: 216px;
}

.header-part-of-logo {
  font-style: italic;
}

.header-logo-svg {
  position: absolute;
  top: -4px;
  right: -28px;
}

.header-social-list {
  display: flex;
  gap: 24px;
  margin-left: 139px;
}


.header-social-link {
  stroke: #111111;
}