.hero {
    padding: 0 32px 72px 32px;
}

.hero-container {
    background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(../img/desktop/chocolate-covered-cocoa-powder.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px;
}


.hero-title {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.03em;
    color: var(--text-color-white);
    padding: 381px 612px 0 40px;
    margin-bottom: 32px;
}

.buttons-container {
    display: flex;
    align-items: baseline;
}

.buy-btn {
    display: block;
    margin: 0 14px 40px 40px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    color: var(--text-color-white);
    padding: 14px 40px;
    background-color: var(--text-color-title);
    border-radius: 100px;
    border: none;
}

.buy-btn:hover, .buy-btn:focus {
    background-color: #FCF1E0;
    color: var(--text-color-title);
}

.how-made-btn {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    color: var(--text-color-white);
    padding: 14px 40px;
    border: 1px solid var(--text-color-white);
    border-radius: 100px;
    background-color: transparent;
    margin-right: auto;
    
    
}

.how-made-btn:hover, .how-made-btn:focus {
    background-color: var(--text-color-white);
    color: var(--text-color-title);
    border: 1px solid var(--text-color-title);
}

.scroll-btn {
    display: block;
    color: var(--text-color-white);
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.03em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    border: none;
    background-color: transparent;
    border-radius: 10px;
    margin-right: 40px;
    padding: 5px 16px;
}

.scroll-btn:hover, .scroll-btn:focus .scroll-btn:focus {
    color: var(--text-color-title);
    background-color: var(--text-color-white);
    cursor: pointer;
    
    
}

.scroll-btn:hover .scroll-svg{
    fill: var(--text-color-white);
}

.scroll-div {
    background-color: var(--text-color-white);
    background-color: currentColor;
    padding: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

    
.scroll-svg {
    display: block;
    width: 32px;
    height: 32px;
    fill: var(--text-color-title);

}


.hero-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    padding: 88px 0;
    padding-bottom: 12px;
    transition: opacity 500ms, visibility 500ms;
}

.hero-backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


.hero-modal {
    position: relative;
    max-width: 609px;
    max-height: 1058px;
    width: 100%;
    height: 100%;
    background-color: var(--text-color-white);
}

.hero-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    width: 38px;
    height: 38px;
}

.hero-close-svg {
    stroke: var(--text-color-black);
    width: 14px;
    height: 14px;
}

.hero-form {
    padding: 48px;
}
.hero-form-title {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--text-color-title);
    margin-bottom: 32px;
}

.hero-form-span {
    color: var(--text-color-black);
}

.hero-label {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: var(--text-color-black);
    display: block;
    margin-bottom: 8px;
}

.hero-input {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.3);
    width: 100%;
    height: 66px;
    padding-left: 24px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
    border-radius: 13px;
}

.hero-half-input {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.3);
    width: 50%;
    height: 66px;
    padding-left: 24px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
    border-radius: 13px;
}

textarea {
    resize: none;
    padding-top: 22px;
}

.hero-input-container {
    display: flex;
    align-items: center;
    gap: 21px;
    margin-bottom: 18px;
}

.hero-form-btn {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: var(--text-color-white);
    border-radius: 100px;
    background-color: var(--text-color-title);
    padding: 14px 40px 14px 40px;
    border: none;
}