.subscribe-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.285;
  letter-spacing: -0.02em;
  color: var(--text-color-white);
  margin-bottom: 24px;
}
.subscribe-btn {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: var(--text-color-white);
  align-items: center;
  padding: 14px 40px;
  background-color: #fd9222;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .section-hero {
    background-image: url(../../img/mobile@2/subcribe-mobile@2x.jpg);
    background-size: 375px, 370px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-hero {
    background-image: url(../../img/tablet/subcribe-tablet.jpg);
    background-size: 768px, 370px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .section-hero {
    background-image: url(../../img/tablet@2/subcribe-tablet@2x.jpg);
    background-size: 768px, 370px;
  }
}

@media screen and (min-width: 1200px) {
  .section-hero {
    background-image: url(../../img/desktop/subscribe-desk.jpg);
    background-size: 1200px, 370px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .section-hero {
    background-image: url(../../img/desktop-photos@2/subscribe-desk@2.jpg);
    background-size: 1200px, 370px;
  }
}
/* =====================MOBILE================================ */
@media screen and (max-width: 767px) {
  .subscribe-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 24px;
  }
  .section-subscribe {
    text-transform: capitalize;
    text-align: center;
    color: var(--text-color-white);
    background-repeat: no-repeat;
    background-image: url(../../img/mobile/subcribe-mobile.jpg);
    background-size: cover;
    max-width: 767px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    padding: 62px 42px 0 42px;
  }
}
/* =================================TABLET======================== */
@media screen and (min-width: 768px) {
  .subscribe-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 24px;
  }
  .section-subscribe {
    text-transform: capitalize;
    text-align: center;
    color: var(--text-color-white);
    background-repeat: no-repeat;
    background-image: url(../../img/tablet/subcribe-tablet.jpg);
    background-size: cover;
    max-width: 767px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    padding: 72px 195px 0 195px;
  }
}
/* =========================DESKTOP======================= */
@media screen and (min-width: 1200px) {
  .section-subscribe {
    text-align: center;
    background-image: url(../../img/desktop/subscribe-desk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    padding: 72px 0;
  }
  .subscribe-title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.166;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--bcg-color-white);
    margin-bottom: 24px;
  }
}
