.section-subscribe {
  text-align: center;
  background-image: url(../../img/desktop/explore.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  padding: 72px 0;
}
.subscribe-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--bcg-color-white);
}
.subscribe-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.285;
  letter-spacing: -0.02em;
  color: var(--text-color-white);
}
