
  <header class="header">
    <div class="container header-container">
      <!-----------навігація у хедері-------------------->
      <nav class="header-main-nav">
      <a href="" class="header-logo"><span class="header-part-of-logo">SIMPLY</span>&nbsp;CHOCOLATE 
        <svg width="24" height="24" class="header-logo-svg">
        <use href="../img/icons.svg#logo-chocolate"></use></svg></a>
      <ul class="header-nav-list">
        <li class="header-menu-item"><a href="" class="header-menu-link">Home</a></li>
        <li class="header-menu-item"><a href="#how-it's-made.html" class="header-menu-link">How it’s made?</a></li>
        <li class="header-menu-item"><a href="#our-products.html" class="header-menu-link">Our products</a></li>
        <li class="header-menu-item"><a href="#top-sellers.html" class="header-menu-link">Top sellers</a></li>
        <li class="header-menu-item"><a href="#chocolate-is-loved.html" class="header-menu-link">Chocolate is loved</a></li>
      </ul>
    </nav>
  </div>
    <!------------список соціальних мереж у хедері------>
    <ul class="header-social-list">
      <li class="header-social-item"><a href="https://instagram.com" class="header-social-link">
       <svg width="24" height="24" class="header-social-svg">
          <use href="../img/icons.svg#instagram"></use>
        </svg>        
      </a></li>
      <li class="header-social-item"><a href="https://twitter.com" class="header-social-link">
        <svg width="24" height="24" class="header-social-svg">
           <use href="../img/icons.svg#twitter"></use>
         </svg>        
       </a></li>
    </ul>
  </div>
  </header>


