<section class="section-subscribe">
  <div class="container">
    <h2 class="subscribe-title">
      EXPLORE OUR NEW <br />
      CHOCOLATE FIRST
    </h2>
    <p class="subscribe-description">
      From the velvety texture to the rich and complex flavor, our New <br />
      Chocolate is a true indulgence that will leave you craving more. Made
      <br />
      with only the finest ingredients and handcrafted with the utmost <br />
      care, each piece is a work of art that is sure to please.
    </p>
    <button type="button" class="subscribe-btn">Subscribe</button>
  </div>
  <div class="bacgdrop-subscribe is-hidden" data-modal>
    <div class="subscribe-modal">
      <button type="button" class="modal-subscribe-close-btn" data-modal-close>
        <svg class="close-subscribe-btn-icon" width="28px" height="28px">
          <use href="../img/icons.svg#x"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
