<section class="top-sellers" id="top-sellers">
  <div class="container">
    <h2 class="sellers-title title">
      <span class="sellers-title-item">Top&#32;</span>Sellers
    </h2>
    <ul class="list-sellers">
      <li class="list-sellers-item">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              /img/mobile/tel-chocolate-nut.jpg      1x,
              /img/mobile@2/tel-chocolate-nut@x2.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/tablet/tb-chocolate-nut.jpg      1x,
              /img/tablet@2/tb-chocolate-nut@x2.jpg 2x
            "
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/desktop/top-sellers-chocolate1.jpg            1x,
              /img/desktop-photos@2/top-sellers-chocolate1@2.jpg 2x
            "
          />
          <img
            src="/img/desktop/top-sellers-chocolate1.jpg"
            alt="chocolate-nut"
            class="sellers-images"
            width="368"
            height="464"
          />
        </picture>

        <span class="sellers-text mobile">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </span>
      </li>

      <li class="list-sellers-item">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              /img/mobile/tel-chocolate-mentol.jpg      1x,
              /img/mobile@2/tel-chocolate-mentol@x2.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/tablet/tb-chocolate-mentol.jpg      1x,
              /img/tablet@2/tb-chocolate-mentol@x2.jpg 2x
            "
          />
          <source
            media="(min-width: 1158px)"
            srcset="
              /img/desktop/top-sellers-chocolate2.jpg            1x,
              /img/desktop-photos@2/top-sellers-chocolate2@2.jpg 2x
            "
          />
          <img
            src="/img/desktop/top-sellers-chocolate2.jpg"
            alt="chocolate-mentol"
            class="sellers-images"
            width="368"
            height="464"
          />
        </picture>

        <button
          type="button"
          class="btn-sellers mobile js-open-modal"
          data-modal="open-modal-by-now"
        >
          Buy now
        </button>
      </li>

      <li class="list-sellers-item">
        <img
          srcset="
            /img/desktop/dt-chocolate-bitter.jpg             1x,
            /img/desktop-photos@2/dt-chocolate-bitter@x2.jpg 2x
          "
          src="/img/desktop/dt-chocolate-bitter.jpg"
          alt="chocolate-bitter"
          class="sellers-images"
          width="368"
          height="464"
        />
      </li>
    </ul>
    <div class="sellers-decoration-text">
      <span class="sellers-text desck">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </span>
      <button
        type="button"
        class="btn-sellers desck js-open-modal"
        data-modal="open-modal-by-now"
      >
        Buy now
      </button>
    </div>
  </div>
</section>

<!-- Несколько модальных окон -->

<div class="modal modal-buy-chocolate" data-modal="open-modal-by-now">
  <div class="hero-modal">
    <button class="js-modal-close">
      <svg class="hero-close-svg" width="14px" height="14px">
        <use href="/img/icons.svg#x"></use>
      </svg>
    </button>
    <form class="hero-form form">
      <h3 class="hero-form-title">
        BUY <span class="hero-form-span">NOW</span>
      </h3>
      <div class="hero-swiper">
        <ul class="buy-list swiper-wrapper">
          <li class="buy-card swiper-slide">
            <div class="buy-card-container">
              <img
                src="/img/desktop/buy-now-chocolate1.jpg"
                alt="dark chocolate"
                srcset="
                  /img/desktop/buy-now-chocolate1.jpg            1x,
                  /img/desktop-photos@2/buy-now-chocolate1@2.jpg 2x
                "
                width="120"
              />
              <button class="buy-weight-btn" type="button">100 g</button>
            </div>
          </li>
          <li class="buy-card swiper-slide">
            <div class="buy-card-container">
              <img
                src="/img/desktop/buy-now-chocolate2.jpg"
                alt="white chocolate"
                srcset="
                  /img/desktop/buy-now-chocolate2.jpg            1x,
                  /img/desktop-photos@2/buy-now-chocolate2@2.jpg 2x
                "
                width="120"
              />
              <button class="buy-weight-btn" type="button">200 g</button>
            </div>
          </li>
          <li class="buy-card swiper-slide">
            <div class="buy-card-container">
              <img
                src="/img/desktop/buy-now-chocolate3.jpg"
                alt="milk chocolate"
                srcset="
                  /img/desktop/buy-now-chocolate3.jpg            1x,
                  /img/desktop-photos@2/buy-now-chocolate3@2.jpg 2x
                "
                width="120"
              />
              <button class="buy-weight-btn" type="button">300 g</button>
            </div>
          </li>
        </ul>
        <div class="swiper-pagination"></div>
        <span class="buy-modal-margin"></span>
      </div>

      <label for="Name" class="hero-label"> Personal information </label>
      <div class="hero-input-container">
        <input
          type="text"
          class="hero-half-input"
          id="Name"
          placeholder="Name"
          pattern="[A-Za-z\s]{2,}"
          required
          title="Імя повинно складатися щонайменше з 3 літер"
        />
        <input
          type="text"
          class="hero-half-input"
          id="Surname"
          placeholder="Surname"
          pattern="[A-Za-z\s]{2,}"
          required
          title="Прізвище повинно складатися щонайменше з 3 літер"
        />
      </div>

      <label for="Email" class="hero-label">Email</label>
      <div class="hero-input-container">
        <input
          type="email"
          class="hero-input"
          id="Email"
          placeholder="Enter your email"
          minlength="4"
          required
        />
      </div>

      <label for="phone" class="hero-label">Phone number</label>
      <!-- <div class="hero-input-container">
          <input
            type="tel"
            class="hero-input"
            id="phon"
            name="phon"
            placeholder="Phone number"
            pattern="[0-9]{10}"
            required
          />
        </div> -->

      <label for="Card" class="hero-label">Card number</label>
      <div class="hero-input-container">
        <div class="hero-card-input">
          <input
            type="tel"
            class="hero-input"
            id="Card"
            placeholder="Card number"
          />
          <div class="card-images">
            <!-- <svg class="card-svg"  height="20px">
                <use href="https://bin.bnbstatic.com/static/images/fiat/card/visa.svg"> </use>
              </svg>
              <svg class="card=svg"  height="20px">
                <use href="https://bin.bnbstatic.com/static/images/fiat/card/mastercard.svg"> </use>
              </svg> -->
            <img
              src="https://bin.bnbstatic.com/static/images/fiat/card/visa.svg"
              alt="visa"
              class="card-img"
            />
            <img
              src="https://bin.bnbstatic.com/static/images/fiat/card/mastercard.svg"
              alt="mastercard"
              class="card-img"
            />
          </div>
        </div>
      </div>

      <label for="Comment" class="hero-label">Comment</label>
      <div class="hero-input-container">
        <textarea
          name="Comment"
          id="Comment"
          class="hero-input hero-textarea"
          placeholder="Enter-text"
          required
        ></textarea>
      </div>

      <button
        type="submit"
        class="hero-form-btn js-pop-up"
        data-modal="open-modal-pop-up"
      >
        Submit
      </button>
    </form>
  </div>
</div>
<div class="overlay js-overlay-modal"></div>

<!-- <div class="by-now modal-pop-up modal" data-modal="by-now">
  <button class="modal-close pop-up-close js-modal-close">
    <svg class="pop-up-icon">
      <use href="../img/icons.svg#x"></use>
    </svg>
  </button>
  <h2 class="title pop-up-title">Thank you!</h2>
  <p>
    We are glad that you ordered our chocolate and we are giving you a 20%
    discount on all our products.
  </p>
</div> -->

<div
  class="modal modal-pop-up modal-by-now success-modal"
  data-modal="open-modal-pop-up"
>
  <button class="modal-close pop-up-close js-modal-close">
    <svg class="pop-up-icon">
      <use href="/img/icons.svg#x"></use>
    </svg>
  </button>

  <h2 class="title pop-up-title">Thank you!</h2>
  <p>
    We are glad that you ordered our chocolate and we are giving you a 20%
    discount on all our products.
  </p>
</div>
