<section class="top-sellers" id="top-sellers">
  <div class="container">
    <h1 class="sellers-title title">
      <span class="sellers-title-item">Top&#32;</span>Sellers
    </h1>
    <ul class="list-sellers">
      <li class="list-sellers-item">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="../img/desktop/top-sellers-chocolate1.jpg 1x, ../img/desktop photos@2/top-sellers-chocolate1@2.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="../img/desktop/top-sellers-chocolate1.jpg 1x, ../img/desktop photos@2/top-sellers-chocolate1@2.jpg 2x
            "
          />
          <source
            media="(min-width: 1200px)"
            srcset="../img/desktop/top-sellers-chocolate1.jpg 1x, ../img/desktop photos@2/top-sellers-chocolate1@2.jpg 2x"
          />
          <img
            src="../img/desktop/top-sellers-chocolate1.jpg"
            alt="chocolate-nut"
            class="sellers-images"
            width="368"
            height="464"
          />
        </picture>

        <p class="sellers-text mobile">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>

      <li class="list-sellers-item">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
            ../img/desktop/top-sellers-chocolate2.jpg 1x,
            ../img/desktop photos@2/top-sellers-chocolate2@2.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
            ../img/desktop/top-sellers-chocolate2.jpg 1x,
            ../img/desktop photos@2/top-sellers-chocolate2@2.jpg 2x
            "
          />
          <source
            media="(min-width: 1158px)"
            srcset="
            ../img/desktop/top-sellers-chocolate2.jpg 1x,
            ../img/desktop photos@2/top-sellers-chocolate2@2.jpg 2x
          "
          />
          <img
            src="../img/desktop/top-sellers-chocolate2.jpg"
            alt="chocolate-mentol"
            class="sellers-images"
            width="368"
            height="464"
          />
        </picture>

        <button type="submit" class="btn-sellers mobile">Buy now</button>
      </li>

      <li class="list-sellers-item">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
            ../img/desktop/top-sellers-chocolate3.jpg 1x,
            ../img/desktop photos@2/top-sellers-chocolate3@2.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
            ../img/desktop/top-sellers-chocolate3.jpg 1x,
            ../img/desktop photos@2/top-sellers-chocolate3@2.jpg 2x
            "
          />
          <source
            media="(min-width: 1200px)"
            srcset="
            ../img/desktop/top-sellers-chocolate3.jpg 1x,
            ../img/desktop photos@2/top-sellers-chocolate3@2.jpg 2x
            "
          />
          <img
            src="../img/desktop/top-sellers-chocolate3.jpg"
            alt="chocolate-bitter"
            class="sellers-images"
            width="368"
            height="464"
          />
        </picture>
      </li>
    </ul>
    <div class="sellers-decoration-text">
      <p class="sellers-text desck">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button type="submit" class="btn-sellers desck">Buy now</button>
    </div>
  </div>
</section>
